<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/about">About</a></li>
            <img src="/img/logo.png" alt="Logo" width="108" height="45" style="float:right">
        </ul>
        <div>
            <h1>Welcome to the final project of Group 3 "Team Sparkles!"</h1>
            <p> This prototype allows a user to input a movie or show of their choice and interfaces with OpenAI to generate the recipe for a food item found in the movie/show, or themed around the movie/show if there is not one present.</p>
        </div>
    </body>
</html>